.place__app{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}
.footer{
    bottom: 0;
    width: 100%;
}
main{
    display: block;
    /* background-color: aqua; */
    width: 100%;
}